<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ./partials/import %>
        <title>Thông tin - @tuibittat</title>
</head>

<body>
    <br>
    <div class="ui grid container">
        <div class="column">
            
                    <%if(message === 'succeslogin'){%>
                        <div class="ui message">
                            <div class="header">
                                Đăng nhập thành công
                            </div>
                            <p>Đăng ký thành công! Bây giờ bạn đã có thể sử dụng cách chức năng của @tuibittat. Gõ /help để biết thêm thông
                                tin.
                            </p>
                            <a href="/">Chuyển sang trang chủ</a>
            
                        </div>
                        <%}%>
                            <%if(message === 'nonelogin'){%>
                                <div class="ui message">
                                    <div class="header">
                                        Yêu cầu đăng nhập
                                    </div>
            
                                    <p>Hãy đăng nhập trước khi truy cập trang nhé.</p>
                                    <a href="/login">Chuyển sang login</a>
            
                                </div>
                                <%}%>
            
                                    <%if(message === 'keycode'){%>
                                        <div class="ui message">
                                            <div class="header">
                                                Đăng ký thành công
                                            </div>
                                            <p>Keycode để kích hoạt @bot: <%= keycode%> </p>
                                            <p>Gõ <b>/active <%= keycode%> </b> để kích hoạt @bot nhé. </p>
                
                                        </div>
            
                                        <%}%>
            
        </div>
    </div>
</body>

</html>